body{
    text-align:center
}

#counter{
    font-size: 30px;
}
.content
{
   margin-top: 300px
}

.card
{
    background-color: rgb(199, 199, 33);
    border: 2px black solid;
    width: 30%;
    top: 30%;
    left: 35%;
    position: absolute;
    border-radius: 30px
}

.buttons
{
    margin-bottom: 30px;
}

button{
    font-size: 30px;
}